:root {
  --cor-primaria: #f6fff8; /* Branco */
  --cor-secundaria: #399934; /* Verde */
  --cor-terciaria: #cce3de; /* Cinza */
  --cor-fundo: #eaf4f4; /* Azul-claro */
  --cor-texto: #02020a; /* Preto */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
}

/* Barra lateral */
.sidebar {
  background-color: var(--cor-secundaria);
  width: 15%;
  padding: 20px;
  color: var(--cor-primaria);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.sidebar p {
  margin: 0;
}

/* Conteúdo principal */
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-primaria);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Tabuleiro do jogo */
.memory-game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.memory-game div {
  width: 80px;
  height: 80px;
  background-color: var(--cor-secundaria);
  border-radius: 8px;
}

/* Cartões */
.card {
  width: 80px;
  height: 80px;
  background-color: var(--cor-terciaria);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: none;
}

.card.flipped img {
  display: block;
}

.card.hidden {
  visibility: hidden;
}

/* Pop-up */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--cor-primaria);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
}

.popup.hidden {
  display: none;
}

/* Botão */
button {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2a7227;
}

/* Teste */
.teste {
  background-color: var(--cor-primaria);
  padding: 3rem;
  border-radius: 20px;
}