body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d3e8d3;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    background-color: #4caf50;
    width: 15%;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(8, 133, 14);
    font-size: 14px;
}
.content {
    background-color: #f0f8f0;
    width: 85%;
    margin: 20px;
    border-radius: 20px;
}
